@import "bootstrap.min.css";
@import "lightbox.min.css";
@import "elegant-icons.css";
@import "font-awesome.css";
@import "settings.css";
@import "rev-slider.css";
@import "owl.carousel.css";
@import "style.css";
@import "spacings.css";
@import "responsive.css";
@import "animate.css";
@import "green.css";

.tp-caption.hero-text {
    text-shadow: 2px 2px #333;
}

.logo img {
    width: 120px;
}