::-moz-selection { color: #fff; background: #4caf50; }
::-webkit-selection { color: #fff; background: #4caf50; }
::selection { color: #fff; background: #4caf50; }


.bg-color,
.main-nav.sticky,
.portfolio-filter a.active,
.portfolio-filter a:hover,
.call-to-action,
.meter .progress-bar,
.icon-effect-1a .hi-icon:hover,
.btn-pink,
.overlay-bg,
#back-to-top:hover {
	background-color: #4caf50;
}


a,
a:hover,
a:focus,
nav ul li.active > a,
.nav > li > a:focus,
.nav > li > a:hover,
.about-feature h4,
.testimonial-name,
.btn.prev,
.btn.next,
.hi-icon,
.entry-meta a:hover,
.best-price .pricing-currency,
.best-price .price,
.contact-details i,
.owl-next:hover i,
.owl-prev:hover i,
.entry-content .entry-tags a:hover,
.scroll-down i,
#back-to-top a {
	color: #4caf50;
}


.icon-effect-1 .hi-icon:after {
	box-shadow: 0 0 0 2px #4caf50;
}


.form-control:focus {
	border-color: #4caf50;
}